@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form{
    width: auto;
    box-shadow: 30px 0 70px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 50px;
}